ul {
    list-style: none;
    /*border: solid blue 2px;*/
}

li {
    /*border: solid red 2px;*/
}

h2 {
    font-size: 1.1em;
    display: inline-block;
}

.footer {
    font-size: 0.5em;
    color: lightgray;
    /*border: solid pink 2px;*/
}

.header {
    /*border: solid purple 2px;*/
    font-size: 1.4em;
    font-family: Arial, sans-serif;
    text-align: center;
}

.price {
    float: right;
    font-family: Arial, sans-serif;
    font-style: italic;
    margin: 14px 20px;
}

.footer:first-of-type {
    margin-top: 200px;
}

.gluten_free:after {
    font-size: 0.5em;
    content: "** Gluten-free";
    vertical-align: super;
    margin-left: 15px;
}