$col-1-width: 30%;
$col-2-width: 100% - $col-1-width;

body {
  height: 100%;
}

.title {
  width: 100%;
  font-size: 3em;
  font-weight: bold;
  border: solid black 1px;
}

.column {
  float:left;
  padding: 10px;

  &.list {
    width: $col-1-width;
    height: 100%;
    overflow: scroll;
  }

  &.details {
    width: $col-2-width;
  }
}

.contact {
  .row {
    display: inline-block;
    cursor: pointer;
    width: 100%;
  }
}

ul {
  list-style-type: none;
}